<h1> An√°lise preliminar dos dados do twitter depositados na landing zone </h1>

<h2> Aten√ß√£o </h2>
Este notebook faz uso de pacotes externos, que dever√£o estar previamente instalados no ambiente. S√£o eles:
<ul>
<li> `cassandra-driver`: Detalhes de instala√ß√£o <a href=https://pypi.org/project/cassandra-driver/>aqui</a> </li>
<li> `pandas`: Detalhes da instala√ß√£o <a href=https://pypi.org/project/pandas/>aqui</a> </li> 
</ul>

In [1]:
from cassandra.cluster import Cluster
import pandas as pd

<h4> Conex√£o com o Cassandra e leitura dos dados para um pandas.DataFrame </h4>

In [2]:
cluster = Cluster(['localhost'])
session = cluster.connect('lz')

rows = session.execute('select * from lz.tweets;')
df = pd.DataFrame(list(rows))

<h4> Primeiros 5 registros do DataSet </h4>

In [6]:
df.head(5)

,tag,created,author_id,followers_count,friends_count,lang,location,process_date,retweet_count,source,text,tweet_id,username
0,#olympics,2018-08-06 22:10:49,2315577708,599,608,ja,,2018-08-07,17,Twitter for Android,RT @bQ1r9Gxdq7AebV6: #Tokyo„Ç§„É≥„Éë„Éº„É´2020 #olympics...,1026591448710361088,Shimashima
1,#olympics,2018-08-06 22:10:53,142835070,33357,288,en,"Atlanta, GA",2018-08-07,89,Twitter Web Client,RT @KimRhode: I was about 7 in these photos an...,1026591467710697473,GunUp
2,#olympics,2018-08-06 22:12:50,883256820,3366,778,en,Japan: Tokyo„ÉªYokohama,2018-08-07,1,Twitter for iPhone,Japan mulls daylight savings proposal for 2020...,1026591956573478912,magdalena osumi üíÅüèº‚Äç‚ôÄÔ∏è
3,#olympics,2018-08-06 22:15:50,1022289241454403584,28,192,en,Brasil,2018-08-07,247,Twitter for Android,RT @Rio2016_en: 2 years ago today ‚ù§ #OpeningCe...,1026592711082688512,lara | estudando
4,#olympics,2018-08-06 22:17:38,1021854107685072896,107,354,en,,2018-08-07,43,Twitter for Android,RT @Klarity: .@Usainbolt be like..üèÉüèæüí®üáØüá≤üòÇ (w/ @...,1026593164092760064,Lindokuhle Prince

<h4>Estat√≠stica descritiva dos campos num√©ricos do DataSet </h4>

In [9]:
df[['followers_count','friends_count','retweet_count']].describe()

       followers_count  friends_count  retweet_count
count     2.060000e+03    2060.000000    2060.000000
mean      1.304062e+04    4097.298544     676.967961
std       1.009844e+05   14722.907996    5483.106186
min       0.000000e+00       0.000000       0.000000
25%       1.260000e+02     144.750000       0.000000
50%       5.145000e+02     465.500000       2.000000
75%       2.125500e+03    1414.000000      14.000000
max       2.437202e+06  289926.000000  100743.000000

<h2> Investiga√ß√£o dos itens contidos no requisito 5 </h2>

<b> Requisito 5.a:</b> a.	Quais s√£o os 5 (cinco) usu√°rios, da amostra coletada, que possuem mais seguidores?

In [22]:
users_group = df[['username','followers_count']] \
                .groupby(by=['username','followers_count'])

AttributeError: 'DataFrameGroupBy' object has no attribute 'df'

<b> Requisito 5.b:</b> b.  Considerando apenas as postagens em Portugu√™s (lang=pt), qual o total para cada uma das #tag solicitadas?

In [26]:
df.groupby(by=['tag'])['tweet_id'].count()

tag
#japan             100
#japao              99
#jogosolimpicos      8
#olimpiadas         16
#olimpiadas2020      2
#olympics           35
#tokyo              72
#tokyo2020          95
Name: tweet_id, dtype: int64