In [6]:
from cassandra.cluster import Cluster
import pandas as pd

In [23]:
cluster = Cluster(['localhost'])  # provide contact points and port
session = cluster.connect('lz')

rows = session.execute('select * from lz.tweets;')
df = pd.DataFrame(list(rows))

In [24]:
df.head()

,tag,created,author_id,followers_count,friends_count,location,retweet_count,source,text,tweet_id,username
0,#olympics,2018-07-26 03:14:57,163592646,1758,894,Rio de Janeiro,0,Twitter Web Client,Associação internacional dá ultimato ao Rio po...,1022319331538087936,Flávio Dilascio
1,#olympics,2018-07-26 19:27:54,163592646,1758,894,Rio de Janeiro,0,Twitter Web Client,"Com show solo, Nubia Soares arrasa no salto tr...",1022564182926020609,Flávio Dilascio
2,#olympics,2018-07-26 23:48:34,17014285,2718,510,"São Paulo, SP",0,Instagram,🇮🇷 #tbt #rio2016 #volleyball #olympics #iran #...,1022629784143187968,Thiago Cipriano
3,#olympics,2018-07-27 16:08:43,178146671,97,285,Rio de Janeiro,0,Instagram,🇧🇷 Eu amo essa cidade! #riodejaneiro \n.\n.\n#...,1022876447474679810,Daniel Liporace
4,#olympics,2018-07-27 21:38:28,36492200,11100,3461,"Belo Horizonte, Brasil",0,Twitter Web Client,"Aos 31 anos, Joanna Maranhão anuncia aposentad...",1022959430684602368,SuperFC

<b> Requisito 5.a:</b> a.	Quais são os 5 (cinco) usuários, da amostra coletada, que possuem mais seguidores?

In [25]:
df.sort_values('followers_count',ascending=False).head(5)[['username','followers_count']]

                           username  followers_count
57                         MariMoon          1555908
297                      Mundo ESPN          1463197
39                         Mundo MS           132327
46   BigBangBrazil #TheGreatSeungri            57067
104                    Chad Schimke            46875

<b> Requisito 5.b:</b> b.  Considerando apenas as postagens em Português (lang=pt), qual o total para cada uma das #tag solicitadas?

In [26]:
df.groupby(by=['tag'])['tweet_id'].count()

tag
#japan             100
#japao              99
#jogosolimpicos      8
#olimpiadas         16
#olimpiadas2020      2
#olympics           35
#tokyo              72
#tokyo2020          95
Name: tweet_id, dtype: int64